/* GOOGLE FONTS  */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=The+Nautigal:wght@700&display=swap');


body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.main{
    min-height: 100vh;
    background-image: linear-gradient( #efa2b4, #aef1ee);
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1.2;
    color: #18293c;
    padding-top:30px;
}

.main-content{
    max-width: 1200px;
    margin: auto;
}

.home-section{
    background-color: rgba(255, 255, 255, 0.40);
    border: 1px solid rgba(255, 255, 255, 0.25);
    min-height: 85vh;
    border-radius: 30px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(50px);
}


/* IMAGE & TEXT */


.img-box{
    position: relative;
    height: 280px;
    margin: auto;
    background-size: cover;
    background-position-x: center;
    object-fit: cover;
    opacity: 0.9;
}

.img-box:hover{
    transform: rotateY(25deg);
    transition: 0.5s;
     background-color: rgb(235, 222, 235);
}

.container{
    padding: 0 40px;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home-text, .home-img{
    width: 50%;
    padding: 4px;
    margin: auto;
}

.home-text p{
    font-size: 2rem;
    font-family: 'The Nautigal', cursive;
}


.home-text h1{
    font-size: 3rem;
    font-family: 'Mochiy Pop P One', sans-serif;
}


.home-text h2{
    font-size: 1.5rem;
    font-family: 'Mochiy Pop P One', sans-serif;
}


.home-img, .img-box{
    max-width: 284px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.40);
    border-radius: 50%;
}

/* HOME IMAGE MEDIA QUERRIES  */

@media(max-width:650px){
    .img-box{
        height: 212px;
    }
    .home-img, .img-box {
    max-width: 205px;
    }
}

@media(max-width:480px){
    .img-box{
           height: 187px;
    }
    }


@media(max-width:386px){
    .img-box {
    height: 142px;
    }

}

@media(max-width:311px){
    .img-box {
        height: 114px;
    }

}


/* CUSTOM SCROLLBAR  */

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: #ebafc3;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(170, 53, 53);
}


/* BUTTON  */

.btn{
    line-height: 1.5;
    background-color: rgba(255, 255, 255, 0.40);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 4px;
    color: #e02f6b;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    margin: 25px 10px;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: 0.3s ease-out;

}

a{
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
}


/* BUTTON ANIMATION  */

.button {
	cursor: pointer;
	border: none;
	padding: 15px;
	font-size: inherit;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.button--anthe {
	background: none;
}



.button--anthe::before {
	content: '';
	background: #8fd8d4;
	-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
	transition: clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1), -webkit-clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}

.button--anthe:hover::before {
	background: #8fd8d4;
	-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.button--anthe span {
	display: block;
    font-size: 19px;
    color: #ffffff;
	mix-blend-mode: difference;
	transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}

.button--anthe:hover span {
	transform: translate3d(-10px,0,0);
}


/* BUTTON MEDIA QUERRIES */


@media(max-width:411px){
    .button {
	padding: 5px;
    }
}

@media(max-width:372px){
    .button_1 {
	margin: 25px 0;
    }
}


/* FOOTER  */

.home-fotter{
    margin-top: 70px;
    color: #e02f6b;
}