

.navbar-main{
    background-image: linear-gradient(#f7dac2 , #e6ccf5);
    overflow-x: hidden;
}


.Navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    z-index: 100;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.nav-links{
    transition: 0.3s ease;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.40);
    padding: 10px;
    border-radius: 12px;
    -webkit-backdrop-filter: blur(19px);
    backdrop-filter: blur(19px);
    gap: 21px;
    position: fixed;
    z-index: 100;
    box-shadow: 4px 4px 10px #daf0ef;
}



.nav-links li a{
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border-right: 2px solid #a200ff;
    padding-right: 15px;
    font-family: 'Mochiy Pop P One', sans-serif;
}



.hamburger{
    display: none;
    cursor: pointer;
}


.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: 0.3s ease-in;
    background: #e02f6b;
}


.bar:nth-child(2){
    opacity: 1;
}

.nav-link:hover{
    color: #be63f3;
}




/* NAVBAR-MEDIA-QUERIES */

@media(max-width:600px){
    .hamburger{
    display: block;
    margin-top: 48px;
    right: 51px;
    top: 7px;
    z-index: 100;
    position: fixed;
    padding: 5px;
    background-color: transparent;
    border-radius: 50%;
    animation: boxShadow 20s linear infinite;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    

    .nav-links{
    left: -100%;
    visibility: hidden;
    bottom: -15px;
    height: 100%;
    flex-direction: column;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(15px);
    border-radius: 30px;
    width: 97%;
    text-align: center;
    transition: 0.9s ease;
    z-index: 100;
    font-family: 'The Nautigal', cursive;
    }

    
    .nav-links li a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75%;
    width: 0%;
    z-index: -1;
    transition: width 0.3s ease;
    background-color: rgba(255, 255, 255, 0.664);
    }

    .nav-links li a:hover:before{
        width: 120%;
    }


}

@media(max-width:360px){
    .hamburger {
    right: 35px;
    top: 21px;
    }
}